<div class="section-title-page area-bg area-bg_dark area-bg_op_60">
  <div class="area-bg__inner">
    <div class="container">
      <div class="row">
        <div class="col offset-lg-3">
          <div class="b-title-page__wrap">
            <h1 class="b-title-page">Confirm email</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Confirm email
                </li>
              </ol>
              <!-- end breadcrumb-->
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="l-main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 center">
        <main class="b-post-full-wrap">
          <!-- end .section-comment-->
          <section class="d-flex flex-column align-items-center">
            <div class="mb-5">
              <h2 class="ui-title-inner">
                {{ "confirm.confirm" | translate
                }}<span class="text-primary"
                  >{{ "confirm.email" | translate }}
                </span>
              </h2>
              <p>
                {{ "confirm.text" | translate }}
              </p>
            </div>
            <div class="container">
              <div class="d-flex justify-content-center">
                <div class="m-2">
                  <a
                    class="btn btn-primary btn-sm col-auto"
                    routerLink="../login"
                    >{{ "login.Connexion" | translate }}
                  </a>
                </div>
                <div class="m-2">
                  <a class="btn btn-primary btn-sm col-auto" routerLink="/">
                    {{ "header.home" | translate }}</a
                  >
                </div>
              </div>
            </div>
          </section>
          <!-- end .section-reply-form-->
        </main>
      </div>
    </div>
  </div>
</div>
